<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Responsive Font Sizes</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../css/modified-min-max-responsive-font-sizes.css"
    />
  </head>
  <body>
    <header>
      <h1>Responsive Font Size Styles</h1>
      <h2>Using Modified Min Max Viewport and Font Size</h2>
      <p>
        Font sizes will grow and shrink based on size modifier and a min and max
        view port width and a min and max font size.
      </p>
      <p>
        The size modifier will increase or decrease the rate at which the font
        size increases and decreases.
      </p>
      <nav>
        <ul>
          <li><a href="basic-responsive-font-sizes.html">Basic</a></li>
          <li>
            <a href="min-max-responsive-font-sizes.html"
              >Min Max VW and Font Size</a
            >
          </li>
          <li>
            <a href="modified-min-max-responsive-font-sizes.html"
              >Modified Min Max VW and Font Size</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <div>
      <h1 class="h1">Header 1</h1>
      <h2 class="h2">Header 2</h2>
      <h3 class="h3">Header 3</h3>
      <h4 class="h4">Header 4</h4>
      <h5 class="h5">Header 5</h5>
      <h6 class="h6">Header 6</h6>
      <p class="p">Paragraph</p>
      <a href="#" class="a">Link</a>
      <ul class="ul">
        <li class="li">List Item</li>
        <li class="li">List Item</li>
        <li class="li">List Item</li>
      </ul>
      <ol class="ol">
        <li class="li">List Item</li>
        <li class="li">List Item</li>
        <li class="li">List Item</li>
      </ol>
    </div>
  </body>
</html>
